---

---

<div class="site-title">
  <div>David Gardiner</div>
  <div class="site-subtitle">
    A blog of software development, .NET and other interesting things
  </div>
</div>

<style>
  .site-title {
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%; /* Take full width of parent */
  }

  .site-subtitle {
    font-size: clamp(0.7rem, 1vw, 0.8rem); /* Responsive font size */
    font-weight: normal;
    color: #666;
    width: 100%; /* Take full width of parent */
    overflow-wrap: break-word; /* Ensure text wraps properly */
  }
</style>
