---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import SiteTitle from "../components/SiteTitle.astro";

interface Props {
  pageTitle?: string;
  frontmatter?: {
    title?: string;
    description?: string;
  };
}

const { pageTitle, frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="canonical"
      href={new URL(Astro.url.pathname.replace(".html", ""), Astro.site)}
    />
    <slot name="head" />
    <title>{pageTitle || frontmatter?.title}</title>
    {
      frontmatter?.description && (
        <meta name="description" content={frontmatter.description} />
      )
    }
    <!-- Cloudflare Web Analytics --><script is:inline is:raw defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "a5756d0460ba41beba515f2b7666093d"}'></script><!-- End Cloudflare Web Analytics -->
  </head>
  <body>
    <header>
      <nav>
        <Navigation>
          <slot name="site-title" slot="site-title">
            <SiteTitle />
          </slot>
        </Navigation>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
